<h1><%= yield :header %></h1>
<%= form_for(@article, html: {multipart: true}) do |f| %>
	<ul>
		<% @article.errors.full_messages.each do |error| %>
			<li><%= error %>
		<% end %>
	</ul>
	<p>
		<%= f.label :title %><br />
		<%= f.text_field :title %><br />
	</p>
	<p>
		<%= f.label :body %><br />
		<%= f.text_field :body %><br />
	</p>
	<p>
		<%= f.label :tag_list %><br />
		<%= f.text_field :tag_list %><br />
	</p>
	<p>
		<% if @article.image.exists? %>
			<%= image_tag @article.image.url %><br />
			<%= f.label :image, "Attach a New Image" %><br />
		<% else %>
			<%= f.label :image, "Attach an Image" %><br />
		<% end %>
		<%= f.file_field :image %><br />
	</p>
	<p>
		<%= f.submit %>
	</p>	
<% end %>